h1 {
font-family: 'Abril Fatface', serif;
background-color: white;
color: yellowgreen;
margin: 1% 2% 3% 1%;
}
p {
    font-family: 'Open Sans', sans-serif;
}
p:first-letter {
    color: yellowgreen;
}
body, html {
    height: 100%;
}